Repository DallasFormulaRacing/DataAcquisition2.0, pull requests merged in 2024-01, with the labels that each got.

#158 Feature/155 ecu frames and formats
  .vscode/settings.json
  Project/DAQ_System/.cproject
  Project/DAQ_System/.settings/language.settings.xml
  Project/DAQ_System/Program/Src/Platform/CAN/Interfaces/ican.hpp
  Project/DAQ_System/Program/Src/Platform/CAN/STM/F4/bxcan_stmf4.cpp
  Project/DAQ_System/Program/Src/Platform/CAN/STM/F4/bxcan_stmf4.hpp
  Project/DAQ_System/Program/Src/Sensor/ECU/PE3/Frames/frame_pe1.hpp
  Project/DAQ_System/Program/Src/Sensor/ECU/PE3/Frames/frame_pe10.hpp
  Project/DAQ_System/Program/Src/Sensor/ECU/PE3/Frames/frame_pe11.hpp
  Project/DAQ_System/Program/Src/Sensor/ECU/PE3/Frames/frame_pe12.hpp
  Project/DAQ_System/Program/Src/Sensor/ECU/PE3/Frames/frame_pe13.hpp
  Project/DAQ_System/Program/Src/Sensor/ECU/PE3/Frames/frame_pe14.hpp
  Project/DAQ_System/Program/Src/Sensor/ECU/PE3/Frames/frame_pe15.hpp
  Project/DAQ_System/Program/Src/Sensor/ECU/PE3/Frames/frame_pe16.hpp
  Project/DAQ_System/Program/Src/Sensor/ECU/PE3/Frames/frame_pe2.hpp
  Project/DAQ_System/Program/Src/Sensor/ECU/PE3/Frames/frame_pe3.hpp
  Project/DAQ_System/Program/Src/Sensor/ECU/PE3/Frames/frame_pe4.hpp
  Project/DAQ_System/Program/Src/Sensor/ECU/PE3/Frames/frame_pe5.hpp
  Project/DAQ_System/Program/Src/Sensor/ECU/PE3/Frames/frame_pe6.hpp
  Project/DAQ_System/Program/Src/Sensor/ECU/PE3/Frames/frame_pe7.hpp
  Project/DAQ_System/Program/Src/Sensor/ECU/PE3/Frames/frame_pe8.hpp
  Project/DAQ_System/Program/Src/Sensor/ECU/PE3/Frames/frame_pe9.hpp
  Project/DAQ_System/Program/Src/Sensor/ECU/PE3/frame_parsing.cpp
  Project/DAQ_System/Program/Src/Sensor/ECU/PE3/frame_parsing.hpp
  Project/DAQ_System/Program/Src/Sensor/ECU/PE3/iecu.hpp
  Project/DAQ_System/Program/Src/Sensor/ECU/PE3/pe3.cpp
  Project/DAQ_System/Program/Src/Sensor/ECU/PE3/pe3.hpp
  Project/DAQ_System/Program/Src/Sensor/LinearPotentiometer/ilinear_potentiometer.hpp
  Project/Tests/CMakeLists.txt
  Project/Tests/Src/Sensor/ECU/PE3/frame_parsing_tests.cpp
  Project/Tests/Src/Sensor/ECU/PE3/pe_frames_tests.cpp
Labels: feature, refactor, ECU

#151 l3gd20h migration to HAL
  Project/DAQ_System/.mxproject
  Project/DAQ_System/Core/Inc/i2c.h
  Project/DAQ_System/Core/Inc/stm32f4xx_hal_conf.h
  Project/DAQ_System/Core/Src/i2c.c
  Project/DAQ_System/Core/Src/main.c
  Project/DAQ_System/DAQ_System.ioc
  Project/DAQ_System/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_i2c.h
  Project/DAQ_System/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_i2c_ex.h
  Project/DAQ_System/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_ll_i2c.h
  Project/DAQ_System/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_i2c.c
  Project/DAQ_System/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_i2c_ex.c
  Project/DAQ_System/Program/Src/Sensor/GyroScope/igyroscope.hpp
  Project/DAQ_System/Program/Src/Sensor/GyroScope/l3gd20h.cpp
  Project/DAQ_System/Program/Src/Sensor/GyroScope/l3gd20h.hpp
  Project/DAQ_System/Program/Src/app.cpp
Labels: refactor, Gyroscope

#160 lsm303dlhc migration to HAL
  Project/DAQ_System/Core/Src/i2c.c
  Project/DAQ_System/Core/Startup/startup_stm32f429zitx.s
  Project/DAQ_System/Program/Src/Sensor/Accelerometer/iaccelerometer.hpp
  Project/DAQ_System/Program/Src/Sensor/Accelerometer/lsm303dlhc.cpp
  Project/DAQ_System/Program/Src/Sensor/Accelerometer/lsm303dlhc.hpp
  Project/DAQ_System/Program/Src/app.cpp
Labels: refactor, Accelerometer
