Repository DallasFormulaRacing/DataAcquisition2.0, pull requests merged in 2024-04, with the labels that each got.

#182 Refactor/165 i2 c abstraction
  .project
  Project/.project
  Project/DAQ_System/.settings/language.settings.xml
  Project/DAQ_System/.settings/stm32cubeide.project.prefs
  Project/DAQ_System/DAQ_System.launch
  Project/DAQ_System/Program/Src/Platform/I2C/Interfaces/ii2c.hpp
  Project/DAQ_System/Program/Src/Platform/I2C/STM/I2CStmF4.cpp
  Project/DAQ_System/Program/Src/Platform/I2C/STM/I2CStmF4.hpp
  Project/DAQ_System/Program/Src/Sensor/Accelerometer/iaccelerometer.hpp
  Project/DAQ_System/Program/Src/Sensor/Accelerometer/lsm303dlhc.cpp
  Project/DAQ_System/Program/Src/Sensor/Accelerometer/lsm303dlhc.hpp
  Project/DAQ_System/Program/Src/app.cpp
Labels: refactor

#186 Added GPIO input interrupt for toggling data logging
  Project/DAQ_System/Core/Inc/main.h
  Project/DAQ_System/Core/Inc/stm32f4xx_it.h
  Project/DAQ_System/Core/Src/gpio.c
  Project/DAQ_System/Core/Src/stm32f4xx_it.c
  Project/DAQ_System/DAQ_System.ioc
  Project/DAQ_System/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_ll_tim.h
  Project/DAQ_System/Program/Src/Application/DataLogger/DataLogger.cpp
  Project/DAQ_System/Program/Src/Application/DataLogger/DataLogger.hpp
  Project/DAQ_System/Program/Src/Application/data_payload.hpp
  Project/DAQ_System/Program/Src/Platform/GPIO/gpio_stmf4.cpp
  Project/DAQ_System/Program/Src/Platform/GPIO/gpio_stmf4.hpp
  Project/DAQ_System/Program/Src/Platform/GPIO/igpio.hpp
  Project/DAQ_System/Program/Src/app.cpp
  Project/DAQ_System/USB_HOST/App/usb_host.c
  Project/DAQ_System/USB_HOST/App/usb_host.h
Labels: Data Logging, Application

#187 Feature/180 mutex abstraction
  Project/DAQ_System/.settings/language.settings.xml
  Project/DAQ_System/Program/Src/Application/DataLogger/DataLogger.cpp
  Project/DAQ_System/Program/Src/Application/DataLogger/DataLogger.hpp
  Project/DAQ_System/Program/Src/Application/Mutex/imutex.hpp
  Project/DAQ_System/Program/Src/Application/Mutex/mutex_cmsisv2.cpp
  Project/DAQ_System/Program/Src/Application/Mutex/mutex_cmsisv2.hpp
  Project/DAQ_System/Program/Src/Application/circular_queue.hpp
  Project/DAQ_System/Program/Src/app.cpp
Labels: Timing & Concurrency, Data Logging, Application

#188 Feature/177 timestampinterrupt
  Project/DAQ_System/.mxproject
  Project/DAQ_System/.settings/language.settings.xml
  Project/DAQ_System/.settings/stm32cubeide.project.prefs
  Project/DAQ_System/Core/Inc/stm32f4xx_it.h
  Project/DAQ_System/Core/Inc/tim.h
  Project/DAQ_System/Core/Src/main.c
  Project/DAQ_System/Core/Src/stm32f4xx_hal_msp.c
  Project/DAQ_System/Core/Src/stm32f4xx_it.c
  Project/DAQ_System/Core/Src/tim.c
  Project/DAQ_System/DAQ_System.ioc
  Project/DAQ_System/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_ll_tim.h
  Project/DAQ_System/FATFS/Target/ffconf.h
  Project/DAQ_System/Program/Src/Application/DataLogger/DataLogger.cpp
  Project/DAQ_System/Program/Src/Application/DataLogger/DataLogger.hpp
  Project/DAQ_System/Program/Src/Application/circular_queue.hpp
  Project/DAQ_System/Program/Src/Application/data_payload.hpp
  Project/DAQ_System/Program/Src/app.cpp
  Project/DAQ_System/Program/Src/app.hpp
Labels: feature, Timing & Concurrency, Data Logging, Application

#162 Feature/123 lsm6dsox gyroscope interface
  Project/DAQ_System/.cproject
  Project/DAQ_System/Program/Src/Sensor/Accelerometer/LSM6DSOXAccelerometer.cpp
  Project/DAQ_System/Program/Src/Sensor/Accelerometer/LSM6DSOXAccelerometer.hpp
  Project/DAQ_System/Program/Src/Sensor/Accelerometer/iaccelerometer.hpp
  Project/DAQ_System/Program/Src/Sensor/GyroScope/LSM6DSOXGyroscope.cpp
  Project/DAQ_System/Program/Src/Sensor/GyroScope/LSM6DSOXGyroscope.hpp
  Project/DAQ_System/Program/Src/Sensor/GyroScope/igyroscope.hpp
  Project/DAQ_System/Program/Src/app.cpp
Labels: feature, Gyroscope

#189 multiple Lin pots reading
  Project/DAQ_System/.mxproject
  Project/DAQ_System/.settings/language.settings.xml
  Project/DAQ_System/Core/Inc/dma.h
  Project/DAQ_System/Core/Inc/stm32f4xx_it.h
  Project/DAQ_System/Core/Src/adc.c
  Project/DAQ_System/Core/Src/dma.c
  Project/DAQ_System/Core/Src/main.c
  Project/DAQ_System/Core/Src/stm32f4xx_it.c
  Project/DAQ_System/DAQ_System.ioc
  Project/DAQ_System/Program/Src/Sensor/LinearPotentiometer/ilinear_potentiometer.hpp
  Project/DAQ_System/Program/Src/Sensor/LinearPotentiometer/sls1322.cpp
  Project/DAQ_System/Program/Src/Sensor/LinearPotentiometer/sls1322.hpp
  Project/DAQ_System/Program/Src/app.cpp
Labels: bug, feature, refactor, Lin Pots
